<!doctype html>
<html class="no-js" lang="ja">
<head>
<meta charset="utf-8">
<title>Scala関西Summit</title>
<link rel="shortcut icon" href="/favicon.ico" type="image/vnd.microsoft.ico"/>
</head>
<body>
<script>
window.location.href = "https://2018.scala-kansai.org"
</script>
</body>
</html>
