<a class="anchor" id="questionnaire"></a>
<div class="contents">
  <div class="ui page grid">
    <div class="column">
      <h1 class="section ui header">
        <i class="smile icon"></i>
        <div class="content">
          Questionnaire
          <div class="sub header">アンケート</div>
        </div>
      </h1>
      <div class="row">
        <p>
          Scala関西Summit 2017でどんなセッションを聴いてみたいですか？
          もしよろしければ下記のアンケートにご協力ください。
          内容決定の参考とさせていただきます。
          (まだ実際に参加できるかわからない方からの回答もお待ちしております。)
        </p>
        <div class="column center aligned">
          <a class="big ui button orange" href="https://docs.google.com/forms/d/e/1FAIpQLSdr0J_4vJVzxm139vYzh_x05eK1t0bFHjAHtjRP8fhLumMDyQ/viewform?usp=sf_link">
            <i class="announcement icon"></i>アンケートに回答する
          </a>
        </div>
      </div>
    </div>
  </div>
</div> <!-- Questionnaire -->
