<a class="anchor" id="speakers"></a>
<div class="contents">
  <div class="ui page grid">
    <div class="column">
      <h1 class="section ui header">
        <i class="bookmark icon"></i>
        <div class="content">
          Speakers
          <div class="sub header">登壇者</div>
        </div>
      </h1>
      <h2 class="ui header">スピーカー募集 Call for Proposals</h2>
      <p>本カンファレンスで発表していただける方を募集しております。</p>
      <h3 class="ui header">募集概要</h3>
      <ul>
        <li>持ち時間 (質疑応答込み)
          <ul>
            <li>ロングセッション: 45分</li>
            <li>ショートセッション: 20分</li>
            <li>ライトニングトーク: 5分</li>
          </ul>
        </li>
        <li>発表内容
          <ul>
            <li>Scalaに関するものであれば何でもOKです。</li>
          </ul>
        </li>
        <li>
          発表資料
          <ul>
            <li>スピーカーの許可を得た上で当サイトで公開させていただきます。</li>
          </ul>
        </li>
        <li>
          その他
          <ul>
            <li>交通費、宿泊費等の補助は未定です。</li>
          </ul>
        </li>
      </ul>
      <h3 class="ui header">スケジュール</h3>
      <p>
        申し込みの締切は2017/06/30 (金) です。2017/07/15 (木) までに応募者全員にメールで選考結果をご連絡いたします。
        また選考結果通知後のやり取りは、連絡事項の伝達ミスや通達漏れを防ぐために <a href="http://www.chatwork.com/ja/">チャットワーク</a> を利用させていただきます。
      </p>
      <h3 class="ui header">連絡手段について</h3>
      <p>
        今年は運営スタッフとスピーカーとの選考結果後の連絡手段として、 <a href="http://www.chatwork.com/ja/">チャットワーク</a> を使用します。
        選考通過のご案内の際にチャットワーク利用の案内を送らせていただきます。
      </p>
      <p>
        昨年まではメールを連絡手段としていましたが、一斉連絡の際や、個別のメールでのお問合わせの返信など運用負荷が高く、スタッフ間での協議の結果、チャットツールを使うことで運営側の負担を軽減できないか、ということになりました。
        さまざまなチャットツールを検討した結果、運営スタッフにChatWork社のメンバーがおり、サポートなどもしやすいという観点からチャットワークを使用することにしました。
        アカウントの準備などお手間を増やしてしまうことになり申し訳ありませんが、スムーズな運営のためにご理解いただければと思います。
      </p>
      <h3 class="ui header">申し込み方法</h3>
      <p>
        こちらのフォームからお申込みください。
      </p>
      <div class="column center aligned">
        <a class="big ui button orange" href="https://docs.google.com/forms/d/e/1FAIpQLSfapbpq9X7ZEztSONeTGf6wWlJCFjjBMKor6WbrKuIbjLJ3EQ/viewform?usp=sf_link">
          <i class="announcement icon"></i>スピーカーに申し込む
        </a>
      </div>
    </div>
  </div>
</div> <!-- speakers -->
