<div class="contents">
  <div class="ui page grid">
    <div class="column">
      <h1 class="ui header">
        <i class="heart icon"></i>
        <div class="content">
          Special Thanks
        </div>
      </h1>
      <div class="ui five doubling cards">
        <div class="card">
          <div class="content">
            <span class="header">Logo Desiginer</span>
          </div>
          <div class="image">
            <a href="http://osaru-kyujitu.com/">
              <img class="ui image" src="images/icons/osaru.png">
            </a>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <span class="header">Photographer</span>
          </div>
          <div class="image">
            <a href="http://hpo-tres.jp/">
              <img class="ui image" src="images/icons/hpo.jpg">
            </a>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <span class="header">Network Team</span>
          </div>
          <div class="image">
            <a href="http://www.nsc.gr.jp/">
              <img class="ui image" src="images/icons/nsc_logo.svg">
            </a>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <span class="header">Student Staff</span>
          </div>
          <div class="image">
            <a href="http://www.oic.ac.jp/index.html">
                <img class="ui image" src="images/icons/itc_logo.png">
            </a>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <span class="header">Leaflet Designer</span>
          </div>
          <div class="image">
            <a href="http://chatbox-inc.com/">
                <img class="ui image" src="images/icons/chatbox_logo.svg">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
