<a class="anchor" id="venue"></a>
<div class="contents">
  <div class="ui page grid">
    <div class="column">
      <h1 class="ui header">
        <i class="marker icon"></i>
        <div class="content">
          Venue
          <div class="sub header">会場</div>
        </div>
      </h1>
      <h4 class="ui top attached header">
        <a href="http://www.temmacenter.com/tenma/access/index.html">天満研修センター</a>
      </h4>
      <div class="ui attached segment">
        <div class="googlemap">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3280.0145877763857!2d135.51358!3d34.704812!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x29b74f158dc09739!2z5aSn6Ziq5aSp5rqA56CU5L-u44K744Oz44K_44O8!5e0!3m2!1sja!2sus!4v1494125705631" width="800" height="600" frameborder="0" style="border:0" class="mapFrame" allowfullscreen></iframe>
        </div>
      </div>
      ※ 当イベントについて、会場へは問い合わせないようにお願いします。
    </div>
  </div>
</div> <!-- venue -->
