
.sponsor {
  .sponsor__footer {
    text-align: center;
    .sponsor-recruit {
      background-color: $theme_color;
      color: $theme_font_color;
    }
  }
}

.call-for-sponsors {
  .sponsor-information {
    background-color: $theme_color;
    color: $theme_font_color;
  }
}